/* index CSS */
* {
    margin: 1px;
    padding: 1px;
}

.footercontainer {
    border-radius: 0.2em;
    background: rgb(139, 48, 48);
    padding: 25px;
    margin-top: 50px;
}
/* Body background */
body {
    background-image: url('use_images/body_bg.jpg');
}

#skiptomain {
    position: absolute;
    left: -999px;
}
/* This position based on top left of viewport and
pushes the skip link off screen */
#skiptomain:focus {
    position: absolute;
    left: 0px;
    background-color: black;
    border: 1px solid black;
}


/* INDEX PAGE CSS */

nav ul li {
    float: left;
    list-style: none;
    margin: 1.5em;
}

nav ul li a {
    text-decoration: none;
    color: rgb(228, 250, 207);
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
.column {
    flex: 50%;
    padding: 0 4px;
}
  
.column img {
    margin-top: 8px;
    vertical-align: middle;
}

.mainimagecontainer img {
    width: 300px;
    height: 300px;
    max-width: 100%;
    border-radius: 8px;
}


.mainpagewordscontainer {
    flex: 50%;
}

/* ABOUT ME PAGE CSS */

.sectionaboutmemain {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

#aboutwhythissitebox #aboutwhoiambox #aboutaspirationsbox {
    display: flex;

}

#aboutwhythissitebox {
    border-radius: 0.2em;
    background: rgb(161, 104, 19);
    padding: 25px;
    margin-top: 50px;
}

#aboutwhoiambox {
    border-radius: 0.2em;
    background: rgb(161, 104, 19);
    padding: 25px;
    margin-top: 50px;
}

#aboutaspirationsbox {
    border-radius: 0.2em;
    background: rgb(161, 104, 19);
    padding: 25px;
    margin-top: 50px;
}

/* MY SOCIALS CSS */



/* CONTACT ME CSS */


/* ALYSSA ARTIST PAGE  */

.mainimagecontainer img {
    width: 300px;
    height: 300px;
    max-width: 100%;
    border-radius: 8px;
}
