/* index CSS */
.footercontainer {
    border-radius: 0.5em;
    background: #e3ecfa;
    padding: 30px;
    margin-top: 20px;
}

#mainnavigation a {
    display: flexbox;
    justify-content: space-between;
    flex: 1;
    text-decoration: none;
    flex-basis: 15em;
}